<section class="landing-page">
{{!-- <h1>Bloggy</h1>
<p>Welcome to Bloggy</p> --}}


<h3 id='slogan'>Come to life. Come to Blog.</h3>
<h4>Why Bloggy</h4>
<p>Importance of blogging is huge on the Internet. Blogging helps teachers to connect with students. Blogging helps business owners to engage with customers. Blogging connects similar thinker and communities of people worldwide. Blogging helps to get more website traffic from search engines. Blogging helps journalists to share personal views on the cause with their fans. Blogging helps politicians to connect with citizens.</p>

<img src="Bloggy.png" alt="TEST">
</section>